.innerContainer {
    position: fixed;
    height: 144px;
    width: 1500px;
    background-color: #fff;
    /* position: fixed; */
    gap: 325px;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;

    /* width: 1500px; */
    /* height: 106px; */
    /* top: 37px; */
    /* border: 1px solid green; */
    /* padding: 29px 75px 29px 75px; */
}